node_modules
**/exports
**/bak
**/*.swp
**/.cd.swp
**/build
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
**/dist
*.log
**/ssr-build/
**/ver_bak
**/coverage
**/temp
**/tmp
**/tmp.*
**/*.save
**/*.bak
**/*~
**/.DS_Store
**/.credentials.*
**/.eslintrc.*
**/*.pem
**/*.key
**/*.cert
**/.env
**/.cache

